<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/login/565e2b126a6f4338a18e156379a0d6f7" method="post">
    <input type="text" name="firstName" id="user[firstName]">
    <input type="text" name="lastName" id="user[lastName]">
    <input type="text" name="email" id="user[email]">
    <input type="text" name="phone" id="user[phone]">
    <input type="password" name="password" id="user[password]">
    <button>Submit</button>
    </form>
</body>
</html>